body{
	font-family: Roboto;
	margin: 0%;
	padding: 0%;
	width: 100%;
	height: 100%;
	color:#8AB800 !important;
	background-color: black;
}

#init{
	min-height:100%;
	width: 100%;
	background: url("../images/background-earth.jpg") fixed no-repeat center;
	padding-bottom:50px;
}

header{
	width: 70%;
	text-align: center;
	margin:0 auto;
	margin-bottom: 40px;
}

header img{
	width:50%;
	margin:0px auto;
	margin-top:100px;
}

#content{
	text-align: center;
	margin: 0 auto;
	width: 70%;
}

div hr{
	border-color:#8AB800 !important;
}

div p{
	text-align: justify;
}

div #start {
	font-size: 20px;
	background-color: black !important;
	border:1px solid #8AB800 !important;	
	padding:20px 40px;
	border-radius: 5px;
	color:#8AB800 !important;	
}

div #start:hover{
	text-decoration: none;
	color:black !important;
	background-color: #8AB800 !important;
	transition-duration:1s;
}

#maps .logo{
	width: 70px;
	float: left;
	position:absolute;
	z-index: 20;
	margin: 10px;
}

#map-canvas{
	height: 100%;
	position:relative;
}

#maps form{
	width: 50%;
	margin:0 auto;
}

#maps form input{
	border:2px solid #8AB800;
	width:100%;
	padding:10px;
	border-radius:5px;	
	background-color:rgba(0,0,0,0.7);	
	margin-bottom: 10px;
	text-align: center;
	margin-top: 10px;
}

footer{
	background-color: black;
	padding:10px;
	text-align: center;
}